.messenger-page{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
}


.messenger{
    margin-top: 40px;
    height: 700px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: start;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    font-weight: bold;
}

.messenger-programs{
    width: 250px;
    height: 100%;
    background-color: peachpuff;
    border-radius: 3px;
    overflow: scroll;
    box-shadow: 5px 3px 8px 3px rgba(0, 0, 0, 0.3);
    z-index: 2;
    padding: 20px 0;
}

.messenger-programs::-webkit-scrollbar {
    width : 1px;  
    height: 1px;
}
.messenger-programs::-webkit-scrollbar-thumb {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #a8a8a8;
}
.messenger-programs::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed; 
}

.messenger-programs-item{
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: left;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    color: rgb(86, 84, 84);
    border-bottom: 1px solid rgb(231,231,231);
}

.messenger-new-messge{
    width: 15px;
    height: 15px;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
}

.program-select{
    background-color: #fff;
}

.messenger-programs-item:focus{
    box-shadow: 0.5px black;
    z-index: 2;
}


.messenger-programs-item:hover{
    background-color: palevioletred;
}

@keyframes shiftIn {
    0%{
        opacity: 0;
        transform: translateX(-250px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.messenger-targets{
    animation-name: "shiftIn";
    animation-duration: 0.5s;
    -webkit-animation-name: "shiftIn";
    -webkit-animation-duration: 0.5s;
    width: 250px;
    height: 100%;
    background-color: papayawhip;
    border-radius: 3px;
    overflow: auto;
    box-shadow: 5px 3px 8px 3px rgba(0, 0, 0, 0.3239);
    z-index: 1;
    position: relative;
    /* left: 0;
    top:0; */
    transition: all ease 1s;
    padding: 20px 0;
}

.messenger-targets-item{
    position: relative;
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    width: 100%;
    color: rgb(86, 84, 84);
    border-bottom: 1px solid rgb(231,231,231);
}

.target-select{
    background-color: #fff;
}

.messenger-targets-item:hover{
    background-color: palevioletred;
}

.chatMenuInput{
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(231,231,231);
    color: rgb(86, 84, 84);
}   
.chatMenuInput > i{
    font-size: 20px;
    margin-right: 10px;
}

.chatMenuInput > input{
    width: 70%;
    height: 60%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.chatMenuInput > input:focus{
    outline: none;
    border-bottom: 1px solid black;
}

.currentChat{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

.chatBox{
    animation-name: "shiftIn";
    animation-duration: 0.5s;
    -webkit-animation-name: "shiftIn";
    -webkit-animation-duration: 0.5s;
    width: 700px;
    background-color: #fff1eb;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 3px 8px 3px rgba(0, 0, 0, 0.3);
}

.chatBoxHeader{
    position: relative;
    width: 90%;
    height: 10%;
    padding: 10px;
    border-bottom: 1px solid rgb(221, 219, 219);
    color: rgb(86, 84, 84);
}

.chatBoxHeader > p{
    text-align: left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    font-weight: 600;
}

.chatBoxTop{
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    margin-right: -10px;
    padding: 0 5px 0 5px;
}

.chatBoxTop::-webkit-scrollbar {
    width : 5px;  
    height: 1px;
    }
    .chatBoxTop::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : lightsalmon;
    }
    .chatBoxTop::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #ededed;
}

.chatBoxBottom{
    width: 90%;
    height: 10%;
    margin-top: 5px;
    border-top: 1px solid rgb(221, 219, 219);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content:space-between;
}

.chatMessageInput{
    width: 80%;
    height: max-content;
    padding: 10px;
    border: none;
}

.chatMessageInput:focus{
    outline: none;
    border-bottom: 1px solid;
    margin-bottom: -1px;
}

.chatSubmitButton{
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightseagreen;
    color: #fff;
}

.chatSubmitButton:hover{
    background-color: seagreen;
}

.chatSubmitButton:active{
    color:seagreen;
}

.chatSubmitButton>span{
    margin-right: 10px;
}
.chatMenuWrapper, .chatBoxWrapper{
    width: 100%;
    height: 100%;
}

.chatBox-shadow{
    color: rgb(86, 84, 84);
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(
          45deg, 
          rgba(0, 153, 68, .5) 0, rgba(0, 153, 68, .5) 25%, transparent 25%, transparent 50%, 
          rgba(0, 153, 68, .5) 50%, rgba(0, 153, 68, .5) 75%, transparent 75%, transparent
        );
    background-size: 50px 50px;
}

