.FormContainer{
    width: 1000px;
    margin-top: top;
    position: relative;
    align-items: center;
    justify-content: center;
}

.createProgram-btn{
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: rgb(255, 251, 251, 0.5);
}

.createProgram-btn>i{
    margin-right: 10px;
}

.formshow{
    height: 400px;
    transition: height 0.5s ease-in;

}