.instructorProgram{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructorProgram-create{
    margin-top: 10px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructorProgram-filter{
    margin-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.instructorProgram-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}