.pAnnouncementBox{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 500px;
    overflow:auto;
    margin: 0;
}

.Card{
    width: 25rem;
    margin-bottom: 10px !important;
}

.Card:hover{
    width: 27.5rem;
}

.Button{
    margin-bottom: 10px;
}