.classinfo{
    padding-left: 20px;
    text-align: start;
    display: flex;
    flex-direction: row;
}

.classinfo-label{
    width: 150px;
}

.classinfo > span{
    margin-right: 20px;
    border-bottom: 1px solid rgb(221, 219, 219);
}

.kid-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    position: relative;
    border: 2px solid rgb(221, 219, 219);
    margin-bottom: 50px;
}

/* .kid-register::before,
.kid-register::after{
    content:"";
    width: 40px;
    height: 40px;
    position: absolute;
    border: 2px solid plum;
}

.kid-register::before{
    top:0;
    left:0;
    border-right: 0;
    border-bottom: 0;
}

.kid-register::after{
    bottom:0;
    right:0;
    border-left: 0;
    border-top: 0;
} */

.kid-register:hover{
    opacity: 1;
}

.kid-register-header{
    display: flex;
    position:absolute;
    flex-direction: row;
    align-items: center;
    top: -15px;
    left: 50px;
    z-index: 2;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.kid-register-header>i{
    margin-right: 10px;
}

.kid-register-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.kid-register-item{
    margin-left: 10px;
    margin-right: 10px;
}

.kid-register-item>input{
    color: black !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color: black !important;
}

.kid-register-item>input:checked{
    background-color: black !important;
}

.kid-register-item>input:focus{
    outline: none;
}

.kid-register-item > label{
    color: black !important;
}

.kid-register-btn{
    border: 0 !important;
    border-radius: 0 !important;
    background-color: rgb(221, 219, 219);
    position: absolute;
    right: 0;
    margin-top: 30px;
}

.kid-register-btn:hover{
    background-color: tan;
}

.kid-register-btn:focus{
    box-shadow: 0 0 0 0.25rem tan !important;
}