/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgb(5, 5, 5) 40%,
      rgb(15, 127, 255) 100%
    );
  } */
  .program-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 650px;
    min-height: 850px;
    background: #f9f9fa;
    text-align: center;
    margin: 128px auto;
    border-radius: 20px;
    padding-bottom: 32px;
  }
  
  /* h1 {
    margin: 32px 0;
    color: rgb(0, 0, 0);
    font-size: 24px;
  } */
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .program-form {
    margin-bottom: 32px;
  }
  
  .program-input {
    padding: 14px 32px 14px 16px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(0, 0, 0);
  }
  
  .program-input::placeholder {
    color: #000000;
  }
  
  .program-button {
    padding: 16px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      rgb(15, 127, 255) 100%
    );
    color: rgb(255, 255, 255);
    text-transform: capitalize;
  }
  
  .program-input.edit {
    border: 2px solid #1180cf;
  }
  
  .program-button.edit {
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      rgb(15, 127, 255) 100%
    );
    padding: 16px 22px;
  }
  
  .program-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .program-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: rgb(231, 231, 231);
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      rgb(15, 127, 255) 100%
    );
  
    padding: 16px;
    border-radius: 10px;
    width: 90%;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: rgb(0, 0, 0);
  }
  
  .edit-icon {
    color: rgb(0, 0, 0);
  }