/* .calendar{
    width: 1000px;
    margin-left: calc(50% - 500px);
    font-family: 'Quicksand';
    font-weight: 600;
    color: teal;
    background-color: peachpuff;
    padding: 20px;
    outline: dashed 10px tomato;
    box-shadow:inset 0 -5px 0 0 rgba(0,0,0,.2);
} */

.calendar{
    padding:20px 40px 20px 40px;
    width: 1000px;
    height: 600px;
    font-family: 'Quicksand';
    font-weight: 600;
    color: teal;
    background-color: peachpuff;
    border:none;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
        1px 1px 0 0 #d98e20,
        2px 2px 0 0 #d98e20,
        3px 3px 0 0 #d98e20,
        4px 4px 0 0 #d98e20,
        5px 5px 0 0 #d98e20,
        6px 6px 0 0 #d98e20,
        7px 7px 0 0 #d98e20;

}

.calendar:hover{
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #d98e20,
      2px 2px 0 0 #d98e20,
      3px 3px 0 0 #d98e20,
      4px 4px 0 0 #d98e20,
      5px 5px 0 0 #d98e20;
  }




.calendar-body{
    display: flex;
    flex-direction: row;
}

.time-label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:papayawhip;
    width: 80px;
    height: 60px;
    border: 1px solid #f8f8f8;
}

.time-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 25px;
    color: teal;
    background-color: papayawhip;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.weekday-label{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 120px;
    height: 60px;
    border: 1px solid #f8f8f8;
    background-color: papayawhip;
    color: teal;
}

/* Css for header */
.calendar-header{
    position: relative;
    width: 100%;
    font-size: 22px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calendar-header-switch{
    position: relative;
    display: flex;
    flex-direction: row;
    
}

.calendar-header-btn{
    cursor: pointer;
    height: 100%;
    padding: 0 10px;
    border-radius: 25%;
    background-color: #f8f8f8;
    color: rosybrown;
}

.calendar-header-content{
    border-radius: 5%;
    padding: 0 10px;
    text-decoration: underline;
}

/* Css for body */

.calendar-col{
    position: relative;
}

.calendar-grid{
    width: 120px;
    height: 60px;
    border: 1px solid #f8f8f8;
}

.calendar-grid-shown{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7AD673;
    color: #fff;
    width: 110px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.calendar-grid-shown:hover,.calendar-grid-shown:focus{
      box-shadow: inset 6.5em 0 0 0 var(--hover);
}

/* .calendar-grid-shown:before, .calendar-grid-shown:after {
    content: ' ';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}

.calendar-grid-shown:before {
    border-right: 5px dotted peachpuff;
    left: -2.5px;
}

.calendar-grid-shown:after {
    border-left: 5px dotted peachpuff;
    right: -2.5px;
} */


.isCurrent{
    background-color: teal;
    color: #fff;
}

.changecolor{
    background-color: tan;
}

/* .calendar-header-filter{
    color: black !important;
    background-color: #fff;
    position: relative;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid gray;
    width: max-content;
}

.calendar-header-filter > button{
    color: black !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

.calendar-header-filter > .btn{
    border: 0 !important;
}

.calendar-header-filter > .dropdown-menu{
    width: 100%;
    width: max-content;
    z-index: 2 !important;
    overflow: auto;
    max-height: 250px;
}

.calendar-header-filter > .dropdown-menu::-webkit-scrollbar {
    width : 5px;  
    height: 5px;
}
.calendar-header-filter > .dropdown-menu::-webkit-scrollbar-thumb {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #a8a8a8;
}
.calendar-header-filter > .dropdown-menu::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed; 
} */