.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

}

.homeHeader{
    position: relative;
    width: 100%;
    height: 250px;
    padding: 0;
}

.homeHeaderImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.homeBody{
    position: relative;
    width: 100%;
    min-height: 93vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}   

.homeCalendar{  
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homeAnnocement{
    margin-top: 20px;
    margin-left: 50px;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 565px;
    width: 495px;
    overflow-y: auto;
    background-color: #fff;
    
}