.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 90vh;
    width: 100vw;
}

.homeHeader{
    width: 100%;
    height: 30%;
    margin-top: 70px;
    padding: 0;
}

.homeHeaderImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.homeBody{
    margin-top: 10px;
    position: relative;
    width: 1500px;
    height: 50%;
}

.homeCalendar{  
    position: absolute;
    left: 15%;

}

.homeAnnocement{
    display: flex;
    position: absolute;
    width: 500px;
    left: 55%;
}