.addKid{
    margin-top: 10px;
    width: 1000px;
    min-height: 250px;
    position: relative;
    border: solid 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    background-color: rgb(255, 251, 251, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.addKid-addbtn {
    width: 1000px;
    height: 100%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addKid:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.addKid:hover .addKid-addbtn{
    color:rgb(241, 8, 105);
}

.addKid-main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.addKid-form{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 95%;
    height: 100%;
    font-size: 24px;
    border-radius: 5px;
    font-family: 'Quicksand';
    position: relative;
    }

    /* .addKid-form::-webkit-scrollbar {
    width : 10px;  
    height: 1px;
    }
    .addKid-form::-webkit-scrollbar-thumb {
   
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
    }
    .addKid-form::-webkit-scrollbar-track {
 
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed; */
/* } */


.inputTitle{
    display: flex;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bolder;
}

.inputLabel{
    display: flex;
    width: 160px;
}

.inputRow{
    display: flex;
    padding: 5px;
    width: 100%;
}

.inputLabel > input{
    margin-left: 10px;
}

.backIcon{
    position: absolute;
    display: flex;
    right: 0;
    top: 5px;
    border: 0;
    background-color: transparent;
    font-size: 50px;
}

.backIcon:hover {
    color:rgb(241, 8, 8);
    /* transition: 0.5s; */

}

.submitButton {
    position: relative;
    width: 300px;
    transform: translate(-50%, -50%);
    color: rosybrown;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5em 2em;
    border: 2px solid rosybrown;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    margin-left: 155px;
    margin-top: 30px;
  }

  .submitButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: rosybrown;
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
  }
  .submitButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .submitButton:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
  }
  .submitButton:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .submitButton:hover::after {
    right: 0;
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }

  .unfold{
      transition: height 2s;
  }

  .unshow{
      display: none;
      transition: none;
  }

  .radiobox{
    position: relative;
    width: 290px;
    height: 34px;
    display: flex;
    justify-content: start;
  }

  .radiobox > label > input{
      background-color: red;
      transform: scale(2.5);
      margin-left: 5px;
      margin-right: 15px;
  }

  .radiobox > label{
      margin-right: 10px;
  }