.parentProgram{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.parentProgram-filter{
    width: 100%;
    display: flex;
    justify-content: center;
}

.parentProgram-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading{
    display: flex;
    justify-content: center;
}